.login {
 // background: $clr4
 gap: 10px;
 background: darken($color: $clr1, $amount: 2%);
 height: 100%;
 place-content: center;
 align-items: center;
 justify-content: center;

 .login-form {
  max-width: 470px;
  box-shadow: $bs;
  background: $clr1;
  width: 75vw;
  padding: 30px 20px 5px 20px;
  gap: 5px;
  & > * {
   width: 100%;
  }
  .forget-passwd {
   font-size: xx-small;
  }

  input {
   @include app-input(
    $fw: 200,
    $w: 100,
    // $h: 100%,
    $b: none,
    $p: 1em 0.5rem,
    $fs: 0.6rem,
    $bgc: lighten($clr4, 10%),
    $br: 2px,
    $fo: none
   );
  }
  // margin-bottom: 5px;

  button {
   @include app-btn();
   margin-top: 10px;
  }
 }

 .signup {
  background: #fff;
  padding: 20px;
  box-shadow: $bs;
  margin: 0;
  font-size: x-small;
  span {
   color: $clr6;
   cursor: pointer;
  }
 }

 .signup-section {
  gap: 5px;
  text-align: center;
  label {
   @include app-btn(3px);
   border-radius: 3px;
   width: max-content;
   justify-self: center;
   font-size: small;
  }
  img {
   display: block;
   margin: 0 auto;
   height: 82px;
   width: 82px;
   border-radius: 50%;
   object-fit: cover;
   aspect-ratio: 1/1;
  }
 }
}
